<h1>WHAZUP</h1>

<div class="login">
  <form action="/api/login" method="POST">
    <p>Name:</p>
    <input type="text" name="username" placeholder="Your name">
    <p>Password:</p>
    <input type="password" name="password" placeholder="Your password">
    <button class="btn btn-danger"> Login </button>
  </form>
</div>
