<div class="beef">
  <div class="row">
    <div class="col-4">
      <h1>aksopgajwgk</h1>
    </div>
    <div class="col-4">
      <h1>ajsgoaw</h1>
    </div>
    <div class="col-4">
      <div class="user-container">
        <h1 class="username">{{user.username}}</h1>
        <div class="image-container">
          <img class="avatar" src="{{user.avatar}}" alt="">
        </div>
      </div>
    </div>
  </div>
</div>