<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>




<h1>Chat Stuff</h1>

{{!-- Completing this form should add a message to the ChatBox model and post it to a div underneath --}}
<form action="/post/add" method="POST">

  message:<br>
  <input id="messageInput" type="text" name="message">
  <button id='messageSubmitButton'>Send Message</button>
</form>


<div id="public-feed">Post So Far</div>
