<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>










{{!-- Div that the Google Maps will load in --}}
<div id='map'></div>




<h1>Chat Stuff</h1>

{{!-- Completing this form should add a message to the ChatBox model and post it to a div underneath --}}
<form action="/post/add" method="POST">
  username:<br>
  <input type="text" name="username"><br>
  message:<br>
  <input type="text" name="message">
  <button>Send Message</button>
</form>


<div id="public-feed">Post So Far</div>
