<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
{{!-- Socket IO JS info --}}


<body>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
  {{!-- Google Maps API script --}}
    <script
    async
    defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSM6gvLt0YVPtpeqWQm3JNNXQ332_uMXQ&callback=initMap" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

{{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
{{!-- <script src="../node_modules/socket.io-client/dist/socket.io.js"></script> --}}
<script>
  var socket = io();
</script>


</body>
</html>