body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  color: #ebfffb;
  background-color: #c70d3a; }

.side-nav {
  height: 10vh; }
  .side-nav .nav-link {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ebfffb;
    background-color: #032535; }
    .side-nav .nav-link .btn {
      border-radius: 0px;
      width: 100%; }
  .side-nav .nav-link:hover,
  .side-nav .navbar-brand:hover {
    color: #c9c9c9; }
  .side-nav .fas:hover {
    color: #c9c9c9; }

.scrool::-webkit-scrollbar-track {
  background-color: #f5f5f5; }

.scrool::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5; }

.scrool::-webkit-scrollbar-thumb {
  background-color: gray; }

[type="file"] + label {
  background: white;
  border: none;
  border-radius: 10px 0px 0px 0px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: 7px 15px 7px 15px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle; }
  [type="file"] + label.btn-2 {
    border-radius: 0px 10px 10px 0px;
    overflow: hidden; }
    [type="file"] + label.btn-2::before {
      color: #000;
      content: "\f382";
      font-family: "Font Awesome 5 Pro";
      font-size: 100%;
      height: 100%;
      right: 130%;
      line-height: 2.1;
      position: absolute;
      top: 0px;
      transition: all 0.3s; }
  [type="file"] + label:hover {
    padding: 7px 15px 7px 25px; }
    [type="file"] + label:hover::before {
      right: 75%; }

.column-title {
  text-align: center;
  background-color: #032535; }
  .column-title h1 {
    font-size: 25px;
    margin: 0px;
    border: 1.5px white solid; }

#map {
  height: 160px;
  width: 100%;
  border: 3px solid white;
  border-radius: 0px 0px 15px 15px; }

.beef .posts {
  margin-top: 20px;
  height: 100%; }
  .beef .posts .chat {
    overflow-y: scroll;
    height: 75%; }
  .beef .posts .posts-box {
    color: white;
    height: 100px;
    border: 1px solid #c9c9c9; }
    .beef .posts .posts-box h1 {
      font-size: 16px; }
    .beef .posts .posts-box p {
      font-size: 12px; }
  .beef .posts .new-post {
    border: white 1px solid;
    height: 25%;
    width: 100%; }
    .beef .posts .new-post .new-post-inputs .title-input {
      border: 1px #c9c9c9 solid;
      border-radius: 5px;
      margin: 0px;
      padding: 5px 15px;
      width: 100%;
      height: 38px; }
    .beef .posts .new-post .new-post-inputs .content-input {
      border: 1px #c9c9c9 solid;
      border-radius: 5px;
      margin: 10px 0px;
      padding: 5px 15px;
      width: 100%; }
    .beef .posts .new-post .fas {
      font-size: 27px; }

.beef .columns-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  border: solid lightgray 2px;
  margin: 0px 0px; }

.beef .messages .nav-pills {
  background-color: black; }

.beef .messages .direct-message {
  margin-bottom: 10px;
  border-bottom: #fff solid 1px;
  text-shadow: 1px 1px black; }

.beef .messages .message-container {
  padding-top: 6px; }
  .beef .messages .message-container h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px; }
  .beef .messages .message-container p {
    font-size: 14px; }

.beef .messages .image-container {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 60px;
  max-height: 60px; }
  .beef .messages .image-container img {
    border-radius: 50%; }
  .beef .messages .image-container .avatar {
    border-radius: 50%;
    width: 100%;
    height: 100%; }

.beef .messages .columns-container {
  border: solid lightgray 2px;
  justify-content: initial; }

.beef .profile .columns-container {
  border: solid lightgray 2px; }

.beef .profile .header {
  position: relative;
  height: 180px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  border: 3px solid white; }

.beef .profile .user-info {
  margin-top: 20px;
  height: 330px; }
  .beef .profile .user-info .container-fluid {
    width: 80%; }
  .beef .profile .user-info h1 {
    font-weight: normal;
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 1px black; }
  .beef .profile .user-info .nickname {
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 5px;
    font-size: 25px; }
  .beef .profile .user-info .bio {
    font-size: 18px; }
  .beef .profile .user-info i {
    padding-right: 10px; }

.beef .profile .image-container {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 120px;
  height: 115px;
  width: 115px; }
  .beef .profile .image-container img {
    border: 3px solid white;
    border-radius: 50%; }

.beef .profile .avatar {
  border-radius: 50%;
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=style.css.map */