// color #032535 black
// color #3d5466 lighter black

// Beef Color Options [
//   #af0404,
//   #ff0000,
//   #c70d3a,
// ]

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  color: #ebfffb;
  background-color: #c70d3a;
}

.side-nav {
  height: 10vh;
  .nav-link {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #ebfffb;
    background-color: #032535;
    .btn {
      border-radius: 0px;
      width: 100%;
    }
  }
  .nav-link:hover,
  .navbar-brand:hover {
    color: #c9c9c9;
  }

  .fas:hover {
    color: #c9c9c9;
  }
}

.scrool::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.scrool::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.scrool::-webkit-scrollbar-thumb {
  background-color: gray;
}

[type="file"] + label {
  background: white;
  border: none;
  border-radius: 10px 0px 0px 0px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 1rem;
  outline: none;
  padding: 7px 15px 7px 15px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

  &.btn-2 {
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;

    &::before {
      color: #000;
      content: "\f382";
      font-family: "Font Awesome 5 Pro";
      font-size: 100%;
      height: 100%;
      right: 130%;
      line-height: 2.1;
      position: absolute;
      top: 0px;
      transition: all 0.3s;
    }
  }
  &:hover {
    padding: 7px 15px 7px 25px;
    &::before {
      right: 75%;
    }
  }
}

.column-title {
  h1 {
    font-size: 25px;
    margin: 0px;
    border: 1.5px white solid;
  }
  text-align: center;
  background-color: #032535;
}

#map {
  height: 160px;
  width: 100%;
  border: 3px solid white;
  border-radius: 0px 0px 15px 15px;
}

.beef {
  .posts {
    margin-top: 20px;
    height: 100%;
    .chat {
      overflow-y: scroll;
      height: 75%;
    }
    .posts-box {
      color: white;
      height: 100px;
      border: 1px solid #c9c9c9;
      h1 {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
    }
    .new-post {
      border: white 1px solid;
      height: 25%;
      width: 100%;
      .new-post-inputs {
        .title-input {
          border: 1px #c9c9c9 solid;
          border-radius: 5px;
          margin: 0px;
          padding: 5px 15px;
          width: 100%;
          height: 38px;
        }
        .content-input {
          border: 1px #c9c9c9 solid;
          border-radius: 5px;
          margin: 10px 0px;
          padding: 5px 15px;
          width: 100%;
        }
      }

      .fas {
        font-size: 27px;
      }
    }
  }
  .columns-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    border: solid lightgray 2px;
    margin: 0px 0px;
  }
  
  .messages {
    .columns-container {
      border: solid lightgray 2px;
      justify-content: initial;
    }
  }
  .profile {
    .columns-container {
      border: solid lightgray 2px;
    }
    .header {
      position: relative;
      height: 180px;
      width: 100%;
      border-radius: 0px 0px 10px 10px;
      border: 3px solid white;
    }
    .user-info {
      margin-top: 20px;
      height: 330px;
      .container-fluid {
        width: 80%;
      }
      h1 {
        font-weight: normal;
        text-align: center;
        font-size: 20px;
        text-shadow: 1px 1px black;
      }
      .nickname {
        font-weight: bold;
        padding-top: 50px;
        padding-bottom: 5px;
        font-size: 25px;
      }
      .bio {
        font-size: 18px;
      }
      i {
        padding-right: 10px;
      }
    }
    .image-container {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      top: 120px;
      height: 115px;
      width: 115px;
      img {
        border: 3px solid white;
        border-radius: 50%;
      }
    }
    .avatar {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
}
