<div class="signup">
  <form action="/signup" method="POST">
    <p>Name:</p>
    <input type="text" name="username" placeholder="Your name">
    <p>Password:</p>
    <input type="password" name="password" placeholder="Your password">
    <button class="btn btn-danger"> Create Account</button>
    <p>Email:</p>
    <input type="email" name="email" placeholder="...@gmail.com">
  </form>
</div>