.profile-avatar {
  width: 100px !important;
  align-self: center;
  position: absolute;
  top: 100px;
  border-radius: 100% !important
}

.profile-banner {
  height: 150px;
}

.profile-body {
  z-index: 11;
}