<div class="new-post">
  <form action="/api/posts" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" placeholder="Post Title" required>
    <label for="content">Content</label>
    <input type="text" name="content" placeholder="Post Content" required>
    <label for="content">Image</label>
    <input type="file" name="image">
    <button class="btn btn-danger">Create Post</button>
  </form>
</div>
